.icons {
    color: white !important;
}

.bg-1 {
    background-color: white;
    color: #ffffff;
}

.profile-pic {
    display: inline;
    margin: 0 auto;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.main-container { 
    background-color:#314455;
    color: white;
}

.picture-container {
    background-color: #2C98F0
}

.interest-container { 
    background-color: #EAF1F1
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    font-weight: 700;
    color: white;
    font-size: 55px;
}

.nav-color {
    background-color: #5d5c61;
}

.bio {
    color: black; 
    font-size: 18px
}

.custom-line1 {
    margin:auto; 
    width:25%;
    padding-bottom: 2px;
    color: #314455;
    opacity: 1;
}

.custom-line {
    margin:auto;
    width: 30%; 
    color: white;
    opacity: 1;
    padding-bottom: 2px;
}

.universal-font {
    font-family: 'Courier New', Courier, monospace; 
}



