.icons {
    color: #314455 !important;
    
}

.bg-1 {
    background-color: white;
    color: #ffffff;
}

.profile-pic {
    display: inline;
    margin: 0 auto;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    border: 5px solid white 
}

.picture-container {
    background-color: #314455 ;
    color: white;
}

.project-container { 
    background-color: #EAF1F1
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    font-weight: 700;
    color: white;
    font-size: 55px;
}

.nav-color {
    background-color: #5d5c61;
}

.bio {
    color: black; 
    font-size: 18px
}

.custom-line {
    margin:auto;
    width: 45%; 
    color: white;
    opacity: 1;
    padding-bottom: 2px;
}

.custom-line1 {
    margin:auto;
    width:25%;
    padding-bottom: 2px;
    color: #314455;
    opacity: 1;
}

.custom-line2 {
    margin:auto;
    width: 25%; 
    color: black;
    opacity: 1;
    padding-bottom: 2px;
}

.universal-font {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: 350px;
}

.project-title {
    font-weight: 500;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
}

.project-text {
    padding-left: 10px;
    padding-right: 10px;
}

.bottom-buffer {
    margin-bottom: 30px;
}

.other-page {
    text-decoration: none;
}

.my-name {
    font-size: 70px;
}

.sub-heading {
    font-size: 50px;
    text-align: center;
    padding-bottom: 15px;
}

.sub-heading1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
}


.card-size {
    height: 540px;
}

.article-card {
    height: 400px;
}

.card-sub-heading {
    padding-left: 10px;
    font-weight: bold;
}

.button {
    text-decoration: none;
    padding: 15px 32px;
    display: inline-block;
    margin-right: 20px;
}

.nav-icons {
    color: white !important;
}

.top-padding {
    padding-top: 50px;
}

.bottom-padding {
    padding-bottom: 50px;
}

.content-padding {
    padding-bottom: 45px;
}


